$light   = 'OpenSansLight'
$regular = 'OpenSansRegular'
$medium  = 'OpenSansMedium'
$bold    = 'OpenSansBold'
$color   = #FF8300
$default = #9FD4C9

$red 	= #ff0000
$green	= #3CC480

.text
	&-red
		color $red!important
	&-green
		color $green

.pd
	&-top
		&-15
			padding-top 15px
flexCenter()
	display flex
	display -webkit-flex
	align-items center
flexStart()
	display flex
	display -webkit-flex
	align-items start
flexEnd()
	display flex
	display -webkit-flex
	align-items flex-end
transitionOpacity()
	-webkit-transition opacity .3s linear
	-moz-transition opacity .3s linear
	-ms-transition opacity .3s linear
	-o-transition opacity .3s linear
	transition opacity .3s linear
transitionWidth()
	-webkit-transition width .3s linear
	-moz-transition width .3s linear
	-ms-transition width .3s linear
	-o-transition width .3s linear
	transition width .3s linear
transitionMaxWidth()
	-webkit-transition max-width .3s linear
	-moz-transition max-width .3s linear
	-ms-transition max-width .3s linear
	-o-transition max-width .3s linear
	transition max-width .3s linear
transitionBgColor()
	-webkit-transition background-color .3s linear
	-moz-transition background-color .3s linear
	-ms-transition background-color .3s linear
	-o-transition background-color .3s linear
	transition background-color .3s linear
transitionTransform()
	-webkit-transition transform .3s linear
	-moz-transition transform .3s linear
	-ms-transition transform .3s linear
	-o-transition transform .3s linear
	transition transform .3s linear
absolute()
	position absolute
	top 0
	left 0
	right 0
	bottom 0
relative()
	position relative
	top 0
	left 0
	right 0
	bottom 0
body
	margin 0
	padding 0
	overflow hidden
	overflow-y scroll
	font-family $regular
	color #545454
	background-color #FFFFFF
img
	width 100%
label
	font-weight 100
.js-section
	position relative
	padding 20px
.js-height
	height 100vh
.js-header
	flexCenter()
	position relative
	top 0
	width 100%
	z-index 5
	padding 15px 25px
	background-color #FFFFFF
	box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
	.js-header--container
		flexCenter()
		width 100%
		max-width 1150px
		margin auto
		height 100%
	.js-header__left
		flexCenter()
		width 100%
		max-width 300px
		justify-content flex-start
		img
			max-width 100px
	.js-header__right
		flexCenter()
		width 100%
		justify-content flex-end
		text-align right
		img
			max-width 200px
.js-bg-gris
	background-color #545454
	color #FFFFFF
.js-color-red
	color #F45746
.js-flex
	flexCenter()
	justify-content center
	.js-flex__left
		flexCenter()
		width 100%
		justify-content flex-start
	.js-flex__right
		flexCenter()
		width 100%
		justify-content flex-end
.js-login__contenido
	.js-flex
		.js-input
			width 100%
			&:nth-child(1)
				margin-right 10px
			&:nth-child(2)
				margin-left 10px
.js-flex--start
	flexStart()
	justify-content center
.js-container
	transitionMaxWidth()
	height 100%
	width 100%
	max-width 1150px
	margin auto
.js-title
	h2
		font-size 24px
		line-height 26px
		margin 10px 0
		font-family $bold
	p
		font-size 18px
		line-height 20px
.js-subtitle
	margin 30px 0
	h2
		font-size 28px
		line-height 30px
		margin 10px 0
		font-family $bold
		color $default
.js-login
	text-align center
	max-width 400px
	width 100%
	.js-login__title
		h2
			font-size 40px
			line-height 42px
			margin 10px 0
			color #FF8300
			font-family $bold
			letter-spacing 5px
		p
			font-size 18px
			line-height 20px
			color #A5A6AC
	.js-login__contenido
		.js-login__contenido--flex
			margin 20px 0
			flexCenter()
			justify-content center
			.js-radio
				width 100%
			a
				width 100%
				color #545454
	.js-login__actions
		flexCenter()
		margin 30px 0
		justify-content center
		.js-button
			width 100%
.js-button
	margin 0 10px
	text-transform none
	font-family $medium
	box-shadow none
	background-color $color
	border-radius 5px
	border 1px solid $color
	padding 0 20px
	height 42px
	color #FFFFFF
	&.js-button--default
		background-color transparent
		border 1px solid #545454
		color #545454
.js-card
	width 100%
	box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
	margin 10px 0
	padding 15px
	background-color #FFFFFF
	.js-card__title
		padding-bottom 15px
		h2
			font-size 20px
			line-height 22px
			margin 10px 0
			font-family $medium
			color #000000
footer
	background-color #F3F3F4
/*MATERIAL DESIGN*/
.mdl-textfield
	width 100%
	&.is-dirty
	&.is-focused
		.mdl-textfield__label
			color $color
	.mdl-textfield__label
		color #545454
		&:after
			bottom 15px
			background-color $color
.mdl-layout__drawer
	.mdl-navigation
		background-color #FFFFFF
		margin 0 20px
		h2
			margin 15px
			font-size 22px
			line-height 24px
			color $color
			font-family $bold
			text-align center
		.mdl-navigation__link
			padding 12px 20px
			text-decoration none
			position relative
			height 100%
			&.active
				border-left 6px solid $color
			i
				vertical-align middle
				margin-right 10px
				color #576271
			
.mdl-layout__content
	background-color #F1F3F5
/*SCROLL*/
::-webkit-scrollbar
	width 5px
	height 5px
::-webkit-scrollbar-track
	background-color transparent
	border-radius 10px
::-webkit-scrollbar-thumb
	background-color #AAAAAA
	border-radius 10px
.js-fondo
	width 100%
.ri-login
	padding-top 35px
	padding-left 10px
	padding-right 10px
.ri-logos
	background-repeat no-repeat
	background-position left center
	background-size 80% 100%
	height 90px
	display flex
	justify-content space-between
	align-items center
	.ri-logo-left
		margin 30px 50px
		width 100px
	.ri-logo-right
		margin 30px 50px
		width 160px
		@media (max-width: 767px)
			margin 30px 10px
			width 140px
		@media (max-width: 480px)
			margin 30px 10px
			width 140px
.mdl-layout__drawer
	
	.js-perfil
		display flex
		justify-content center
		text-align center
		.js-perfil__title
			width 100%
			position absolute
		.js-perfil__contenido
			top 30px
			position relative		
			width 100px
			height 100px
			border-radius 50%
			border 2px solid white
		.js-perfil__idioma
			font-size 11px
			font-family $bold
			background-color $color
			padding 3px 8px
			border-radius 10px
			bottom 5px
			right -20px
			color white
			position absolute
			z-index 5
	.mdl-layout-title
		margin-top 15px
		padding 0
		text-align center
		position relative
		font-size 14px
		color white
		z-index 1
	.mdl-navigation	
		position relative
		z-index 1
.puntuaciones
	display flex
	justify-content space-around
.puntuacion	
	.p-titulo
		padding-bottom 20px
		font-size 18px
		font-family $medium
	.p-puntaje
		padding-bottom 5px
		font-size 30px
		font-family $bold
		color $color
	.tendencia
		font-weight bold
		padding-bottom 10px

.table-dashboard
	width 100%
	max-width 100%
	margin-bottom 20px
	&>thead
		&>tr
			background-color rgba(#9ED2C6, 0.2)
			font-family $bold
			font-size 15px
	& > tbody
		& > tr
			&:nth-of-type(even)
				background-color rgba(#9ED2C6, 0.2)
.table-dashboard-inv
	width 100%
	max-width 100%
	margin-bottom 20px
	&>thead
		&>tr
			background-color rgba(#9ED2C6, 0.2)
			font-family $bold
			font-size 15px
	& > tbody
		& > tr
			&:nth-of-type(odd)
				background-color rgba(#9ED2C6, 0.2)

.td-center
	vertical-align middle!important
	
.table-red
	&>tbody
		&>tr
			&:nth-of-type(even)
				background-color rgba(#F45746, 0.1)			
			&:first-child
				background-color #F45746
				color white
			&>td
				text-align center
				
.table-grey
	&>tbody
		&>tr
			&:nth-of-type(even)
				background-color rgba(#545454, 0.1)
			&:first-child
				background-color #545454
				color white
			&>td
				text-align center
				
	